@import "_vars.css";
@import "_dev-tools.css";

/* needs more work, but I hardly use it enough to care*/
@-moz-document url-prefix(about:) {
  html,
  body {
    background-color: var(--bg) !important;
  }

  /* search bar int about:preferences */
  .sticky-container {
    background-color: var(--bg) !important;
    margin-bottom: 20px !important;
  }

  .sticky-inner-container {
    margin-bottom: -20px !important;
  }
}

/* ⚰️  cull scrollbar ⚰️ */
*:not(select) {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
