@import "_vars.css";
@import "_menu.css";
@import "_side-bar.css";
@import "_find-bar.css";
@import "_nav-bar.css";
@import "_tab-bar.css";

:root {
  --focus-outline-color: var(--orn-3) !important;
}

/* Change bars order */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}
#nav-bar {
  -moz-box-ordinal-group: 2 !important;
}
#toolbar-menubar {
  -moz-box-ordinal-group: 1 !important;
}

/* hide bookmarks bar, literally always */
#PersonalToolbar {
  display: none !important;
}

#navigator-toolbox {
  border-bottom: 0 !important;
}

