@import "_vars.css";
@import "_menu.css";
@import "_tab-bar.css";
@import "_side-bar.css";
@import "_find-bar.css";
@import "_nav-bar.css";


/* Change bars order */
#PersonalToolbar {
    -moz-box-ordinal-group: 3 !important;
}
#titlebar {
    -moz-box-ordinal-group: 2 !important;
}
#nav-bar {
    -moz-box-ordinal-group: 1 !important;
}


/* hide bookmarks bar, always */
#PersonalToolbar {
  display: none !important;
}


/* disable megabar behavior */
#urlbar[breakout][breakout-extend] {
  top: calc( (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0px !important;
  width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-inline: 0 !important;
  padding-block: 0 !important;
}
