@import "_vars.css";
@import "_menu.css";
@import "_side-bar.css";
@import "_find-bar.css";
@import "_nav-bar.css";
@import "_tab-bar.css";

/* probably a better way to do this */
:root {
  --focus-outline-color: var(--orn-3) !important;
}

/* change bars order */
#titlebar {
  order: 3 !important;
}
#nav-bar {
  order: 2 !important;
}
#toolbar-menubar {
  order: 1 !important;
}

/* hide bookmarks bar, literally always */
#PersonalToolbar {
  display: none !important;
}

/* remove small border on bottom of toolbox */
#navigator-toolbox {
  border-bottom: 0 !important;
}
