@import "_vars.css";
@import "_dev-tools.css";

@-moz-document url-prefix(about:) {
  html,
  body {
    background-color: var(--bg) !important;
    background-image: url(https://raw.githubusercontent.com/nosvagor/dotfiles/main/share/videos/dna.mp4) !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0.9 !important;
  }

  /* search bar int about:preferences */
  .sticky-container {
    background-color: var(--bg) !important;
    margin-bottom: 20px !important;
  }

  .sticky-inner-container {
    margin-bottom: -20px !important;
  }
}

/* ⚰️  scrollbar ⚰️ */
*:not(select) {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
